.alert:empty { display: none; }

html, body {
  margin: 0;
  user-select: none;
}

@keyframes float {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0.4%, 0);
  }
}
@keyframes grays {
  0%, 100% {
    filter: grayscale(0);
  }
  50% {
    filter: grayscale(0.4);
  }
}
.score {
  position: absolute;
  font-size: 64px;
  left: 5%;
  top: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* transform: translate3d(0, 0, 0); */
  /* text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white; */
}
.score span {
  margin-bottom: 15%;
}

.full-screen, .gameover .score, .shade {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.shade {
  position: absolute;
  background: black;
  transition: 1.5s;
  /* transform: translate3d(0, -50%, 0); */
}

#restart,
.shade {
  z-index: -1;
  opacity: 0;
}

.button {
  position: absolute;
  font-size: 32px;
  border: 1px solid currentColor;
  padding: 20px 25px;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 0 0 black;
}

#restart {
  left: 50%;
  bottom: 12%;
  transform: translate3d(-50%, -50%, 0);
  color: transparent;
  text-align: center;
}

#trigger {
  bottom: 5%;
  right: 5%;
  color: black;
  box-shadow: -4px 5px 0 0 black;
  transform: translate3d(0, 0, 0);
  transition: 0.2s;
}
#trigger:not(.game) {
  bottom: 50%;
  right: 50%;
  transform: translate3d(50%, 50%, 0);
}
#trigger #biu {
  display: none;
}
#trigger.game #biu {
  display: block;
}
.game #startInfo {
  display: none;
}
#trigger.down {
  transform: translate3d(0, 3%, 0);
  box-shadow: -2px 2.5px 0 0 black;
}

.energy {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(1.6);
  opacity: 0.5;
}

.text {
  padding-right: 0;
  width: 0;
  overflow: hidden;
  display: inline-block;
}

.light .score {
  color: white;
}

.gameover #restart,
.gameover .shade {
  z-index: auto;
  opacity: 1;
}
.gameover #restart {
  color: black;
  box-shadow: -8px 10px 0 0 black;
  transition: box-shadow 0.2s, bottom 0.2s;
}
.gameover #restart:hover {
  bottom: 11.5%;
  box-shadow: -2px 2.5px 0 0 black;
}
.gameover .score {
  justify-content: center;
  font-size: 4rem;
  animation: float 5s ease-in-out infinite;
  transition: font-size 1.5s;
}
.gameover .text {
  padding-right: 0.5em;
  width: auto;
}
.gameover canvas {
  animation: grays 5s ease-in-out infinite;
}
.gameover .shade {
  opacity: 0.5;
}
